<template>
  <div class="blog">
    <div class="blog__wapper">
      <div class="blog__container">
        <b-button v-b-modal.form-modal variant="primary" class="blog__modal-btn">Create new post</b-button>
        <b-modal id="form-modal" hide-footer>
          <template #modal-title>
            Create new post
          </template>
          <div class="d-block text-left blog__create-post">
          <b-form @submit.prevent="handleSubmit">
            <b-form-group
              label="Title:"
              label-for="input-title"
            >
              <b-form-input
                id="input-title"
                v-model="title"
                placeholder="Enter post title"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label="Body:"
              label-for="input-body"
            >
              <quill-editor
                ref="editor"
                :class="{ required: editorErrors }"
                v-model="body"
                id="input-body"
              ></quill-editor>
              <p v-if="editorErrors" class="error-message">This field is required!</p>
            </b-form-group>
            <b-form-group
              label="Image:"
              label-for="input-image"
            >
              <b-form-file 
                id="input-image"
                v-model="selectedFile" 
                :state="Boolean(selectedFile)" 
                placeholeder="Choose a image or drop it here..."
                drop-placeholder="Drop image here..."
                accept="image/png, image/jpg, image/jpeg"
              ></b-form-file>
            </b-form-group>
            <b-button type="submit" variant="primary">Create post</b-button>
          </b-form>
        </div>
        </b-modal>
        <transition appear name="fade" tag="div" mode="in-out">
        <div class="blog__posts" v-if="posts.length">
            <post v-for="(post, index) in posts" :key="post.title + index" :post="post" />
        </div>
        <div v-else>There are no posts to show</div>
        </transition>
        <pagination :currentPage="currentPage" :itemsCount="postsCount" :itemsLimit="postsLimit" v-if="posts.length" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Loader from '../api/api.service.loader'
import Pagination from '../components/pagination.vue'
import Post from '../components/post'
import { v4 as uuidv4 } from 'uuid'
import { quillEditor } from 'vue-quill-editor'

import 'quill/dist/quill.snow.css'

export default {
  name: 'Blog',
  components: {
    Post,
    Pagination,
    quillEditor,
  },
  data() {
    return {
      title: '',
      body: '',
      selectedFile: null,
      currentPage: Number.isInteger(parseInt(this.$route.query.page)) ? parseInt(this.$route.query.page) : 1,
      postsLimit: 6,
      editorErrors: false
    }
  },
  beforeMount() {
    this.getPosts()
  },
  computed: { 
    ...mapGetters({
      posts: 'posts',
      postsCount: 'postsCount',
    }),
    editor() {
      return this.$refs.editor.quill
    },
  },
  methods: {
    ...mapActions({
      fetchPosts: 'fetchPosts',
      addPost: 'addPost',
    }),
    async getPosts() {
      try {
        Loader.loadingStart()
        await this.fetchPosts({ page: this.currentPage, limit: this.postsLimit})
      } catch (error) {
        console.log(error)        
      } finally {
        Loader.loadingEnd()
      }
    },
    async createPost() {
      try {
        const postId = uuidv4()
        this.editorErrors = !this.editor.container.innerText.trim() ? true : false
        if (!this.editorErrors) {
          await this.addPost({ id: postId, image: this.selectedFile, title: this.title, body: this.body })
          this.$bvModal.hide('form-modal')
          this.$router.push(`/post/details?id=${postId}`)
        }
      } catch (error) {
        console.log(error)
      }
    },
    handleSubmit() {
      this.createPost()
    }
  },
  watch: {
    $route() {
      this.currentPage = Number.isInteger(parseInt(this.$route.query.page)) ? parseInt(this.$route.query.page) : 1
    },
    currentPage() {
      this.getPosts()
    },
  }
}
</script>

<style scoped>
  .blog__container {
    text-align: center;
  }
  .blog__posts {
    display: flex;
    flex-wrap: wrap;
  }
  .required {
    border: red .5px solid;
  }
  .error-message {
    color: red;
    font-size: small;
  }
  .blog__modal-btn {
    margin: 15px 0;
  }
  .fade-enter-active {
    transition: opacity 1s ease;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>
