<template>
    <div class="page-not-found">
        <div class="page-not-found__message">
            Error 404. Page not found
        </div>
    </div>
</template>

<script>
export default {
    name: 'PageNotFound'
}
</script>

<style scoped>
    .page-not-found {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .page-not-found__message {
        position: relative;
        font-weight: 600;
        font-size: 24px;
        top: 50%;
        left: 50%;
    }
</style>