<template>
    <div v-if="post" class="post">
        <template v-if="post">
            <div class="post__header">
                <div class="post__image"><b-img :src="post.image || defaultImage"></b-img></div>
            
                <div class="post__actions">
                    <div class="post__delete-post"><b-button variant="danger" v-b-modal.delete-modal>Delete</b-button>
                    <b-modal id="delete-modal" hide-header ok-variant="danger" @ok="handleDelete">
                        Are you sure you want to delete this post?
                    </b-modal>
                    </div>
                    <div class="post__update-post"><b-button variant="outline-primary" v-b-modal.update-modal @click="setPostData">Update</b-button>
                        <b-modal id="update-modal" hide-footer>
                            <template #modal-title>
                                Update current post
                            </template>
                            <div class="d-block text-left post__update-post">
                            <b-form @submit.prevent="handleUpdate">
                                <b-form-group
                                label="Title:"
                                label-for="input-title"
                                >
                                    <b-form-input
                                        id="input-title"
                                        v-model="updateForm.title"
                                        placeholder="Enter post title"
                                        required
                                    ></b-form-input>
                                </b-form-group>
                                <b-form-group
                                label="Body:"
                                label-for="input-body"
                                >
                                    <quill-editor
                                        v-model="updateForm.body"
                                        id="input-body"
                                    ></quill-editor>
                                </b-form-group>
                                <b-form-group
                                label="Image:"
                                label-for="input-image"
                                >
                                <b-form-file 
                                    id="input-image"
                                    v-model="updateForm.selectedFile" 
                                    :state="Boolean(updateForm.selectedFile)" 
                                    placeholeder="Choose a image or drop it here..."
                                    drop-placeholder="Drop image here..."
                                    accept="image/png, image/jpg, image/jpeg"
                                ></b-form-file>
                                </b-form-group>
                                <b-button type="submit" variant="primary">Update post</b-button>
                            </b-form>
                            </div>
                        </b-modal>
                    </div>
                </div>
            </div>

            <div class="post__title">
            <h2>{{ post.title }}</h2>
            </div>
            <div class="post__body" v-html="post.body">{{ post.body }}</div>
            <comments :postId="post.id" :comments="comments"/>
        </template>
        <div v-else class="post__loading"><b-spinner></b-spinner></div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Comments from '../components/comments.vue'
import { quillEditor } from 'vue-quill-editor'

import 'quill/dist/quill.snow.css'
import Loader from '../api/api.service.loader'
import defaultImage from '../assets/default-image.jpg'

export default {
    name: 'Post',
    components: {
        Comments,
        quillEditor
    },
    data() {
        return {
            updateForm: {
                title: '',
                selectedFile: null,
                body: ''
            },
            defaultImage
        }
    },
    beforeMount() {
        this.getPost()
        this.getComments()
    },
    computed: {
        ...mapGetters({
            post: 'post',
            comments: 'comments'
        })
    },
    methods: {
        ...mapActions({
            fetchPost: 'fetchPost',
            deletePost: 'deletePost',
            updatePost: 'updatePost',
            fetchComments: 'fetchComments',
            convertBaseToFile: 'convertBaseToFile'
        }),
        async getPost() {
            try {
                Loader.loadingStart()
                await this.fetchPost(this.$route.query.id)
            } catch (error) {
                console.log(error)
                this.$router.push('/404')
            } finally {
                Loader.loadingEnd()                    
            }
        },
        async editPost() {
            try {
                Loader.loadingStart()
                await this.updatePost({ id: this.post.id, title: this.updateForm.title, image: this.updateForm.selectedFile, body: this.updateForm.body })
                this.$bvModal.hide('update-modal')
            } catch (error) {
                console.log(error)
            } finally {
                Loader.loadingEnd()
            }
        },
        getComments() {
            this.fetchComments(this.$route.query.id)
        },
        handleDelete() {
            this.deletePost(this.post.id)
            this.$router.push('/')
        },
        handleUpdate() {
            this.editPost()
        },
        async setPostData() {
            const convertedImage = this.post.image ? await this.convertBaseToFile(this.post.image) : null
            this.updateForm = { title: this.post.title, body: this.post.body, selectedFile: convertedImage }
        }
    }
}
</script>

<style scoped>
    .post__header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        min-height: 300px;

    }
    .post__image {
        align-self: center;
    }
    .post__image img{
        max-height: 250px;
    }
    .post__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .post__title {
        font-size: 24px;
        color: black;
        text-align: left;
        margin-bottom: 20px
    }
    .post__body {
        margin-bottom: 50px;
        word-wrap: break-word;
    }
</style>