<template>
    <div class="comments">
        <div class="comments__create-comment">
            <b-form @submit.prevent="handleSubmit" class="text-left">
                <div class="d-flex">
                    <b-form-group label="Name:" label-for="input-name" class="w-50 mr-10">
                        <b-form-input v-model="name" id="input-name" placeholder="Enter your name" required />
                    </b-form-group>
                    <b-form-group label="Email: " label-for="input-email" class="w-50"> 
                        <b-form-input v-model="email" id="input-email" placeholder="Enter your email" required type="email"/>
                    </b-form-group>
                </div>

                <b-form-group label="Comment:" label-for="input-body">
                    <b-textarea rows="3" no-resize id="input-body" v-model="body" placeholder="Enter comment" required />
                </b-form-group>
            <b-button type="submit" variant="primary">Create comment</b-button>
            </b-form>
        </div>
        <template v-if="comments.length">
            <div v-for="(comment, index) in comments" :key="index + comment.email" class="comments__item d-flex-row text-left">
                <div class="comments__name">{{ comment.name }}</div>
                <div class="comments_email">{{ comment.email }}</div>
                <div class="comments__body">{{ comment.body }}</div>
            </div>
        </template>
        <div v-else class="comments__clear">
            <p>There are no comments to show</p>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import { v4 as uuidv4 } from 'uuid'
export default {
    name: 'Comments',
    props: {
        postId: {
            type: String,
            required: true
        },
        comments: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            name: '' ,
            email: '',
            body: ''
        }
    },
    methods: {
        ...mapActions({
            addComment: 'addComment'
        }),
        createComment() {
            this.addComment({ postId: this.postId, id: uuidv4(), name: this.name, email: this.email, body: this.body })
        },
        handleSubmit() {
            this.createComment()
        }
    }
}
</script>

<style scoped>  
    .comments__create-comment {
        margin-bottom: 20px
    }
    .comments_email {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .comments__body {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .comments__name {
        color: black;
        font-weight: 500;
    }
</style>