<template>
    <div class="pagination">
        <router-link :to="`/?page=${previousPage}`" class="pagination__link">Previous</router-link>
        <div class="pagination__items">
            <li v-for="page in filteredPages" :key="page" class="pagination__item">
                <router-link :class="{ active: page === currentPage }" :to="`/?page=${page}`">{{ page }}</router-link>
            </li>
        </div>
        <router-link :to="`/?page=${nextPage}`" class="pagination__link">Next</router-link>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'Pagination',
    props: {
        currentPage: {
            type: Number,
            required: true
        },
        itemsCount: {
            type: Number,
            required: true
        },
        itemsLimit: {
            type: Number,
            required: false,
            default: 5
        },
        pagesLimit: {
            type: Number,
            required: false,
            default: 10
        }
    },
    computed: {
        pages() {
            return Math.ceil(this.itemsCount / this.itemsLimit)
        },
        filteredPages() {
            const limit = this.pagesLimit > this.pages ? this.pages : this.pagesLimit 
            let start = this.currentPage - Math.floor(this.pagesLimit / 2)
            start = Math.max(start, 1)
            start = Math.min(start, 1 + this.pages - limit)
            return Array.from({ length: limit }, (_, index) => start + index)
        },
        nextPage() {
            return this.currentPage === this.pages ? this.currentPage : this.currentPage + 1
        },
        previousPage() {
            return this.currentPage === 1 ? this.currentPage : this.currentPage - 1
        }
    },
}
</script>

<style scoped>
    .pagination {
        display: flex;
        justify-content: center;
    }

    .pagination__items {
        display: flex;
    }

    .pagination__item {
        padding: 0.375rem 0.75rem;
        border: .1px grey solid;
        border-radius: .25rem;
        transition: .5s;
    }

    .pagination__item:hover {
        background-color: rgb(230, 230, 230);
    }

    .active {
        color: black;
        font-weight: 600;
    }

    .pagination__link {
        padding: 0.375rem 0.75rem;
        background-color: #007bff;
        transition: .5s;   
        border: 1px solid transparent;
        border-radius: .25rem;
        color: white;
    }

    .pagination__link:hover {
        background-color: rgb(141, 141, 228);
        color: black;
    }
</style>