<template>
    <div class="post">
        <b-card
            no-body
            img-top
            class="mb-3 post__card"
            style="max-width: 20rem; min-width: 25rem;"
        >
            <b-card-img-lazy :src="post.image || defaultImage" class="post__image"></b-card-img-lazy>
            <b-card-body class="post__text">
                <b-card-title>{{ post.title }}</b-card-title>
                <b-card-text v-html="post.body" class="post__body">{{ post.body }}</b-card-text>
            </b-card-body>
            <b-card-body><router-link :to="`post/details?id=${post.id}`">See more</router-link></b-card-body>
        </b-card>
        <router-view/>
    </div>
</template>

<script>
import defaultImage from '../assets/default-image.jpg'
export default {
    name: 'Post',
    props: {
        post: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            defaultImage
        }
    }
}
</script>

<style scoped>
    .post {
        width: 33.33%;
    }
    .post__image {
        min-height: 225px;
        max-height: 225px;
    }
    .post__card {
        min-height: 500px;
    }
    .post__body {
        text-align: left;
        overflow: hidden;
        max-height: 100px;
    }
    .post__text {
        min-height: 250px;
    }
</style>