<template>
    <div class="spinner">
        <b-spinner class="spinner__content" label="Loading..."></b-spinner>
    </div>
</template>
<script>
export default {
    name: 'Spinner',
    props: {
        color: {
            type: String,
            required: false,
            default: ''
        }
    }
}
</script>
<style scoped>
    .spinner {
        position: fixed;
        z-index: 10000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
    }
    .spinner__content {
        position: relative;
        top: 50%;
        left: 50%;
    }
</style>