<template>
  <div id="app">
    <spinner v-if="isLoading"/>
    <div id="nav">
      <router-link to="/">Blog</router-link> |
    </div>
    <router-view/>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Spinner from './components/spinner'
export default {
  components: {
    Spinner
  },
  computed: {
    ...mapGetters({
      isLoading: 'loadingStatus'
    })
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
  margin: 0 auto;
  width: 1300px;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
